site_name: Cyber Range Kyoushi State Machines

site_description: State machine based simulated actors.
strict: true

theme:
  name: 'material'
  logo: images/cr_icon.svg
  favicon: images/favicon.ico
  palette:
    scheme: ait

extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css

# Extra javascript
extra_javascript:
  - js/jquery-3.5.1.min.js
  - js/jquery.fancybox.min.js

repo_name: kyoushi/statemachines
repo_url: https://git-service.ait.ac.at/sct-cyberrange/tools/kyoushi/statemachines
# need to set manually since we use a private gitlab instance
edit_uri: edit/master/docs/

nav:
- Overview: index.md
- Contributing: contributing.md
- Code Reference:
  - Core:
    - Model: reference/core/model.md
    - Util: reference/core/util.md
    - Selenium: reference/core/selenium.md
- State Machines:
    Web Browser: statemachines/web_browser.md
    Horde User:
      State Machine: statemachines/horde_user/sm.md
      States: statemachines/horde_user/states.md
      Activities: statemachines/horde_user/activities.md
      Selenium Navigation: statemachines/horde_user/nav.md
      Selenium Actions: statemachines/horde_user/actions.md
- License: license.md

markdown_extensions:
    - admonition
    - attr_list
    - mkdocs-click
    - markdown_include.include
    - pymdownx.emoji
    - pymdownx.magiclink
    - pymdownx.highlight
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.tabbed
    - pymdownx.tasklist
    - pymdownx.extra
    - pymdownx.details
    - toc:
        permalink: true
        toc_depth: 3



plugins:
- search
- exclude:
    glob:
    - _build/*
    - build/*
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        selection:
            new_path_syntax: yes
            filters:
              - "!^_[^_]"
              - "!^__class__"
        rendering:
          show_source: true
    watch:
      - src/cr_kyoushi/statemachines
      - README.md
      - CONTRIBUTING.md
- macros:
